<div id="slider-container">
	<div class="deli-head">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
				<h3>"Creativity often consists of merely turning up what is already there."</em><br>#turnupyourwebsite</h3>
			</div>
		</div>
	</div>
	<div class="background"></div>
</div>