// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




#slider-container {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;

	.deli-head {
		position: absolute;
		top: 30%;
		width: 100%;
		z-index: 15;
		text-align: center;

		h1 {
			font-family: 'Crimson Text', serif;
			color: #fff;
			font-size: 72px;
		}

		h3 {
			font-family: 'Crimson Text', serif;
			font-size: 4em;
			color: #fff;
			padding: .75em 0;
			display: inline-block;
			border-top: 3px solid #8BBCB6;
			border-bottom: 3px solid #8BBCB6;

			span {
				font-size: .5em;
				font-family: 'Crimson Text', serif;
			}
		}

		.logo {
			width: 100%;
			height: 100%;
			margin: auto;
			display: block;
			background-size: 100%;
		}
	}

	.continue {
		width: 175px;
		height: 100px;
		text-align: center;
		text-decoration: none;
		display: block;
		margin-left: -87px;
		left: 50%;
		position: absolute;
		bottom: 0;
		opacity: .5;

		h4 {
			margin: 0;
			padding-top: 25px;
			color: #fff;
			font-family: 'Crimson Text', serif;
			font-weight: 600;
			font-size: 1.3em;
			text-transform: uppercase;
		}

		i {
			color: #fff;
			font-size: 20px;
			padding-top: 15px;
		}
	}

	.continue:hover {
		opacity: 1;
	}
}


.background {
	background: url('/assets/background.jpg');
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}




@media (max-width: 992px) {

	#slider-container {
		overflow: hidden;

		.deli-head {

			h3 {
				margin-top: 1em;
				font-size: 2.5em;
			}
		}
	}
}